@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  color: #16161a; }

body {
  background-color: #16161a;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

a {
  color: #16161a;
  text-decoration: none; }

.mainWrap {
  width: 95%;
  max-width: 1600px;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .mainWrap {
      margin-top: 3vh; } }

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2vh;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%; }
  @media (min-width: 1024px) {
    .social {
      height: 50%; } }
  .social__icon {
    width: 4vh;
    height: 4vh;
    margin-right: 1vh;
    background-position: center;
    background-size: cover; }
    @media (max-width: 425px) {
      .social__icon {
        width: 6vw;
        height: 6vw; } }
    @media (max-width: 768px) {
      .social__icon {
        width: 5vh;
        height: 5vh; } }
    @media (min-width: 1440px) {
      .social__icon {
        width: 2vw;
        height: 2vw; } }
    .social__icon--github {
      background-image: url("./../img/icons/github.svg"); }
    .social__icon--fb {
      background-image: url("./../img/icons/fb.svg"); }
    .social__icon--telegram {
      background-image: url("./../img/icons/telegram.svg"); }
    .social__icon--mail {
      background-image: url("./../img/icons/email.svg"); }

.card {
  height: 50vh;
  width: 30%;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 15px -5px rgba(255, 255, 255, 0.4); }
  @media (max-width: 425px) {
    .card {
      width: 90%; } }
  @media (min-width: 426px) and (max-width: 768px) {
    .card {
      width: 75%;
      height: 80vh; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .card {
      width: 35%;
      height: 80vh; } }
  .card__link {
    display: block;
    width: auto;
    height: auto; }
  .card--about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black; }
    @media (max-width: 425px) {
      .card--about {
        width: 90%;
        height: 40vh; } }
    @media (min-width: 426px) and (max-width: 768px) {
      .card--about {
        width: 75%;
        height: 40vh;
        padding: 4vw; } }
    @media (min-width: 769px) and (max-width: 1024px) {
      .card--about {
        width: 75%;
        height: 40vh; } }
  .card--x2 {
    width: calc(60% + 2rem);
    background-color: black;
    padding: 0 2vw;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    @media (max-width: 425px) {
      .card--x2 {
        width: 90%;
        height: auto;
        padding: 4vw; } }
    @media (min-width: 426px) and (max-width: 1024px) {
      .card--x2 {
        width: 75%;
        height: auto;
        padding: 4vw; } }

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute; }
  .image--avatar {
    -o-object-fit: contain;
       object-fit: contain;
    background-color: black;
    right: -15%; }

.content {
  width: 100%;
  height: auto;
  padding: 5vh 2vh 2vh;
  position: absolute;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.7) 100%); }
  .content__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .content--about {
    height: auto;
    padding: 0 2vh 2vh;
    background: none; }

.text {
  font-size: 1vw;
  color: #ffffff; }
  @media (max-width: 425px) {
    .text {
      font-size: 3vw; } }
  @media (min-width: 426px) and (max-width: 768px) {
    .text {
      font-size: 2vw; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .text {
      font-size: 1.5vw; } }
  @media (min-width: 2000px) {
    .text {
      font-size: 0.8vw; } }
  .text--title {
    font-size: 2.5vh; }
    @media (max-width: 425px) {
      .text--title {
        font-size: 4vw; } }
    @media (min-width: 426px) and (max-width: 768px) {
      .text--title {
        font-size: 3vw; } }
    @media (min-width: 769px) and (max-width: 1024px) {
      .text--title {
        font-size: 2vw; } }
  .text--black {
    color: #16161a; }
  .text--orange {
    color: #FF6E00; }
