@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  color: #3D3936; }

body {
  background-color: #FFF6E6; }

a {
  color: #3D3936;
  text-decoration: none; }

.mainWrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 1rem;
  margin-right: 2rem;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); }
  .about__photo {
    -o-object-fit: contain;
       object-fit: contain; }
  .about__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }

.text {
  font-size: 1rem; }
  .text--title {
    font-family: "Yanone Kaffeesatz", sans-serif;
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 700; }

.social {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  .social__icon {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem; }
    .social__icon--github {
      background-image: url("./../img/icons/github.webp");
      background-position: center;
      background-size: cover; }
    .social__icon--fb {
      background-image: url("./../img/icons/fb.webp");
      background-position: center;
      background-size: cover; }
    .social__icon--telegram {
      background-image: url("./../img/icons/telegram.webp");
      background-position: center;
      background-size: cover; }
    .social__icon--mail {
      background-image: url("./../img/icons/email.webp");
      background-position: center;
      background-size: cover; }

.skills {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
  padding: 1rem;
  margin-right: 2rem;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2); }
