section.card.card--about
  img.image.image--avatar(src="./img/1.jpeg")
  div.content.content--about
    p.text.text--title Дмитрий
    p.text.text--title Гордиенко
    p.text Uвелир по профессии
    p.text Rекламист по образованию
    p.text Rазработчик по зову сердца
  section.social
    a(href="https://github.com/dim272" target="_blank")
      p.social__icon.social__icon--github
    a(href="https://www.facebook.com/dimario.green/" target="_blank")
      p.social__icon.social__icon--fb
    a(href="https://t.me/dim272" target="_blank")
      p.social__icon.social__icon--telegram
    a(href="mailto:fewmoments@yahoo.com" target="_blank")
      p.social__icon.social__icon--mail
  
