a(href="https://plusminus.top/")
  div.card
    img.image(src="./img/previews/plusminus.webp")
    div.content
      div.content__top
        p.text Desktop, Mobile
        span.text PUG / SCSS / jQuery
        a.text.text--orange(href="https://github.com/dim272/PlusMinus.top/tree/master/build" target="_blank") github
      p.text Когда я не нашёл для себя удобного инструмента для подсчёта данных, решил сделать его сам. Заодно и изучить jQuery. Счётчик работает с local storage.  

a(href="https://dim272.github.io/auto.brandme/")      
  div.card
    img.image(src="./img/previews/AutoBrandmePRO.webp")
    div.content
      div.content__top
        p.text Desktop, Mobile
        span.text HTML/ SCSS
        a.text.text--orange(href="https://github.com/dim272/auto.brandme") github
      p.text Лендинг для предполагаемой маркетинговой компании. Вёрстка по макету Figma. Была задача сделать быстро и максимально просто. Мобильная версия под 425px.
    
a(href="https://dim272.github.io/Gold-House-VOP/")
  div.card
    img.image(src="./img/previews/GoldHouse.webp")
    div.content 
      div.content__top
        p.text Desktop
        span.text PUG / SCSS
        a.text.text--orange(href="https://github.com/dim272/Gold-House-VOP") github
      p.text Бесплатный макет Figma. Мне понравился дизайн, и захотелось сверстать. Только десктоп версия. Всё на флексах. Интересно эксперементировать с PUG и SCSS.

a(href="https://dim272.github.io/Mountain_adventure/")
  div.card
    img.image(src="./img/previews/MNTN.webp")
    div.content
      div.content__top
        p.text Desktop
        span.text PUG / SCSS / JS
        a.text.text--orange(href="https://github.com/dim272/Mountain_adventure") github
      p.text Ещё один Figma макет, который мне понравился и захотелось реализовать Parallax эффект. Очень интересно было реализовать всё на ванильном JS без приминения фреймворков.

a(href="https://dim272.github.io/metroblog/")    
  div.card
    img.image(src="./img/previews/metroblog.webp")
    div.content
      div.content__top
        p.text Desktop
        span.text HTML / SCSS
        a.text.text--orange(href="https://github.com/dim272/metroblog") github
      p.text После летнего перерыва в вёрстке, хотелось начать с чего-нибудь простого. Сетка построена на флексах. Только десктоп версия.
