a.card__link(href="https://plusminus.top/" target="_blank")
  div.card
    img.image(src="./img/previews/plusminus.webp")
    div.content
      div.content__top
        p.text Desktop, Mobile
        span.text PUG / SCSS / jQuery
        a.text.text--orange(href="https://github.com/dim272/PlusMinus.top/tree/master/build" target="_blank") github
      p.text На пандемии нас посадили за телефон. Мне нужен был инструмент для быстрой фиксации звонков и составления отчёта в конце дня. Когда я не нашёл ничего кроме Google таблиц (что было не удобно), решил реализовать такой инструмент самостоятельно, заодно и изучить jQuery. Счётчик работает с local storage.  

a(href="https://dim272.github.io/Mountain_adventure/" target="_blank")
  div.card
    img.image(src="./img/previews/MNTN.webp")
    div.content
      div.content__top
        p.text Desktop, Mobile
        span.text PUG / SCSS / JS
        a.text.text--orange(href="https://github.com/dim272/Mountain_adventure" target="_blank") github
      p.text Бесплатный Figma макет, найденный на просторах интернета в целях тренировки. Мне захотелось реализовать Parallax эффект и постараться всё сделать на ванильном JS.

a(href="https://dim272.github.io/Gold-House-VOP/" target="_blank")
  div.card
    img.image(src="./img/previews/GoldHouse.webp")
    div.content 
      div.content__top
        p.text Desktop
        span.text PUG / SCSS
        a.text.text--orange(href="https://github.com/dim272/Gold-House-VOP" target="_blank") github
      p.text Ещё один бесплатный макет, который мне понравился. Всё на флексах. Интересно эксперементировать с PUG и SCSS.

a(href="https://prozoloto.com/" target="_blank")
  div.card
    img.image(src="./img/previews/prozoloto.webp")
    div.content
      div.content__top
        p.text Worpdress
        p.text SEO / Copyright
        a.text.text--orange(href="https://prozoloto.com/" target="_blank") PROzoloto.com
      p.text Один из самых старых и любимых моих проектов. Сюда я пишу статьи на тему моей проффессиональной деятельности и эксперементирую с SEO. 
      
a(href="https://dim272.github.io/auto.brandme/" target="_blank")
  div.card
    img.image(src="./img/previews/AutoBrandmePRO.webp")
    div.content
      div.content__top
        p.text Desktop, Mobile
        span.text HTML / SCSS
        a.text.text--orange(href="https://github.com/dim272/auto.brandme" target="_blank") github
      p.text Лендинг для предполагаемой маркетинговой компании. Вёрстка по макету Figma. Была задача сделать быстро и максимально просто. Мобильная версия под 425px.

a(href="https://dim272.github.io/metroblog/" target="_blank")
  div.card
    img.image(src="./img/previews/metroblog.webp")
    div.content
      div.content__top
        p.text Desktop
        span.text HTML / SCSS
        a.text.text--orange(href="https://github.com/dim272/metroblog" target="_blank") github
      p.text После летнего перерыва в вёрстке, хотелось начать с чего-нибудь простого. Сетка построена на флексах. Только десктоп версия.
