div.card
  img.image(src="./img/previews/plusminus.webp")
  div.content
    p.text PlusMinus.top
    p.text Desktop, Mobile
    p.text github: 
      a(href="#") [PUG] 
      a(href="#") [SCSS] 
      a(href="#") [jQuery]

div.card
  img.image(src="./img/previews/AutoBrandmePRO.webp")
  div.content 
    p.text Desktop, Mobile
    p.text github: 
      a(href="#") [HTML] 
      a(href="#") [SCSS]
    
div.card
  img.image(src="./img/previews/GoldHouse.webp")
  div.content 
    p.text Desktop
    p.text github: 
      a(href="#") [PUG] 
      a(href="#") [SCSS]
    
div.card
  img.image(src="./img/previews/MNTN.webp")
  div.content
    p.text Desktop
    p.text github: 
      a(href="#") [PUG] 
      a(href="#") [SCSS] 
      a(href="#") [JS]
    
div.card
  img.image(src="./img/previews/metroblog.webp")
  div.content 
    p.text Desktop
    p.text github: 
      a(href="#") [HTML]          
      a(href="#") [SCSS]
