section.portfolio
  div.portfolio__wrap
    div.portfolio__card
      img.portfolio__preview(src="./img/previews/AutoBrandmePRO.webp")
      p.portfolio__text.text Landing, Desctop
    div.portfolio__card
      img.portfolio__preview(src="./img/previews/GoldHouse.webp")
      p.portfolio__text.text Landing, Desctop
    div.portfolio__card
      img.portfolio__preview(src="./img/previews/MNTN.webp")
      p.portfolio__text.text Landing, Desctop
    div.portfolio__card
      img.portfolio__preview(src="./img/previews/.webp")
      p.portfolio__text.text Landing, Desctop
    div.portfolio__card
      img.portfolio__preview(src="./img/previews/.webp")
      p.portfolio__text.text Landing, Desctop
    div.portfolio__card
      img.portfolio__preview(src="./img/previews/.webp")
      p.portfolio__text.text Landing, Desctop
    div.portfolio__card
      img.portfolio__preview(src="./img/previews/.webp")
      p.portfolio__text.text Landing, Desctop
    div.portfolio__card
      img.portfolio__preview(src="./img/previews/.webp")
      p.portfolio__text.text Landing, Desctop
