section.card.card--x2
  div
    p.text--title.text--orange About:
    p.text Мне 34 года. Я женат, двое детей, у меня хорошая работа (не связанная с IT). Занимаюсь обучением новых сотрудников в ювелирной отрасли.
    p.text Много лет я увлекаюсь компьютерами и интернетом, как хобби. Мне повезло накопить большую базу знаний, которая помогает легко обучаться новым технологиям. Сейчас я увлекаюсь созданием сайтов, чередуя с изучением Python.

    p.text--title.text--orange Soft skills:
    p.text Английский: читаю документацию без переводчика.
    p.text Стрессоустойчивость, многозадачность и ответственность - для меня не просто слова.
    p.text Перфекционизм - часто очень мешает.

    p.text--title.text--orange Hard skills:
    p.text HTML / CSS / SCSS / BAM / Adaptive / MobileFirst / Figma / Avocode / PS / Wordpress / SEO
    p.text JS / jQuery / VUE.js [in progress] / Python [in progress]
    p.text Gulp / Webpack / git ( GitHub, Bitbucket ) / Linux
