section.card.card--x2
  div
    p.text--title.text--orange About:
    p.text.text--black Мне 34 года. Я женат, двое детей, хорошая работа (не связанная с IT).
    p.text.text--black Много лет я увлекался компьютерами и интернетом, как хобби. Но раньше мне не приходила в голову мысль работать с тем, что мне интересно. Сейчас я увлекаюсь созданием сайтов, чередуя с изучением Python.
    p.text.text--black Я уверен, что перспектив в IT сфере у меня значительно больше, чем на любой другой работе.

    p.text--title.text--orange Soft skills:
    p.text.text--black Английский на уровне "Читаю документацию без переводчика".
    p.text.text--black Стрессоустойчивость, многозадачность и ответственность - для меня не просто слова.
    p.text.text--black Перфекционизм - часто очень мешает.

    p.text--title.text--orange Hard skills:
    p.text.text--black HTML / CSS / SCSS / БЭМ
    p.text.text--black JS / jQuery / VUE.js [soon] / Python [soon]
    p.text.text--black Gulp / Webpack / git / linux
