@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');

$milk: #F2F2F2;
$white: #ffffff;
$dark: #3D3936;
$orange: #FF6E00;

$fontTitle: 'Yanone Kaffeesatz', sans-serif;
$fontText: 'Noto Sans TC', sans-serif;

$boxShadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: $fontText;
  color: $dark;
}

body {
  background-color: $milk;
}

a {
  color: $dark;
  text-decoration: none;
}

.mainWrap {
  height: 100vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $white;
  padding: 1rem;
  margin-right: 2rem;
  box-shadow: $boxShadow;
	&__photo {
    object-fit: contain;
	}

	&__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
	}
}

.text {
  font-size: 1rem;
    &--title {
      font-family: $fontTitle;
      line-height: 2rem;
      font-size: 2rem;
      font-weight: 700;
    }
}

.social {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

    &__icon {
      margin-right: 0.5rem;
      width: 2rem;
      height: 2rem;

        &--github {
          background-image: url("./../img/icons/github.webp");
          background-position: center;
          background-size: cover;
        }

        &--fb {
          background-image: url("./../img/icons/fb.webp");
          background-position: center;
          background-size: cover;
        }

        &--telegram {
          background-image: url("./../img/icons/telegram.webp");
          background-position: center;
          background-size: cover;
        }

        &--mail {
          background-image: url("./../img/icons/email.webp");
          background-position: center;
          background-size: cover;
        }
    }
}

.skills {
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $white;
  padding: 1rem;
  margin-right: 2rem;
  box-shadow: $boxShadow;
}

.portfolio {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__card {
    width: 25vh;
    height: 25vh;
    background-color: $white;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: $boxShadow;
    position: relative;
  }

  &__preview {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(246,246,246,0.4) 30%, rgba(255,255,255,1) 100%);
  }
}
